{include file='src/view/layout/header.html'} {include file='src/view/layout/topbar.html'}{include file='src/view/layout/sidebar.html'}
<div class="content-wrapper">
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{$url_base}public/template/dist/img/user4-128x128.jpg" alt="User profile picture">

                            <h3 class="profile-username text-center">{$user->getNom_complet()}</h3>
                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#modalDetails">
                                <b>Détails</b>
                              </button>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#timeline" data-toggle="tab">Mon CV</a></li>
                        </ul>
                        <div class="tab-content">

                            <div class="active tab-pane" id="timeline">
                                <!-- The timeline -->
                                <ul class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <li class="time-label">
                                        <span class="bg-red">
                                            Je certifie sur l'honneur les informations ci-dessous
                                        </span>
                                    </li>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-envelope bg-blue"></i>

                                        <div class="timeline-item">

                                            <h3 class="timeline-header"><a href="#"><u>Expérience proféssionnelle</u></a></h3>

                                            <div class="timeline-body">
                                                {if isset($cv)}{$cv->getExperience()}{/if}
                                            </div>

                                            <h3 class="timeline-header"><a href="#"><u>Formation proféssionnelle</u></a></h3>

                                            <div class="timeline-body">
                                                {if isset($cv)}{$cv->getFormation()}{/if}
                                            </div>

                                            <h3 class="timeline-header"><a href="#"><u>Compétence</u></a></h3>

                                            <div class="timeline-body">
                                                {if isset($cv)}{$cv->getCompetence()}{/if}
                                            </div>


                                            <h3 class="timeline-header"><a href="#"><u>Divers</u></a></h3>

                                            <div class="timeline-body">
                                                {if isset($cv)}{$cv->getDivers()}{/if}
                                            </div>

                                            <div class="timeline-footer">

                                                <a href="{$url_base}Cv/edit/{$cv->getId()}" class="btn btn-warning"><span class="fa fa-edit"></span></a>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <i class="fa fa-clock-o bg-gray "></i>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</div>


<div class="modal fade" id="modalDetails">
    <div class="modal-dialog">
        <form method="post" id="produit_form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <h4 class="modal-title text-primary">Détails de mon profil</h4>
                    <table class="table">
                        <tr>
                            <td>Nom complet</td>
                            <td>{$user->getNom_complet()}</td>
                        </tr>

                        <tr>
                            <td>Téléphone</td>
                            <td>{$user->getTelephone()}</td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{$user->getAdresse()}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="id">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
</div>

{include file='src/view/layout/footer.html '}