 {include file='src/view/layout/header.html'} {include file='src/view/layout/topbar.html'}{include file='src/view/layout/sidebar.html'}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">LISTE DE MES OFFRES</h3>
            </div>
            <!-- /.box-header -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOffre">
                <i class="fa fa-plus"></i> Nouveau
              </button><br>

            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Libellé</th>
                            <th>Favori</th>
                            <th>Catégorie</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {$num=1} {foreach from=$offres item=offre}
                        <tr>
                            <td>{$num++}</td>
                            <td>{$offre->getLibelle()}</td>
                            <td>{$offre->getFavori()}</td>
                            <td>{$offre->getCategorie()->getLibelle()}</td>
                            <td>
                                <!-- <a href="{$url_base}Offre/edit/{$user->getId()}" class="btn btn-warning"><span class="fa fa-edit"></span></a> -->
                                <button type='button' name='edit' id="{$user->getId()}" data-toggle="modal" class='btn btn-info view-reponse' data-target="#modalReponse" value="{$offre->getId()}"><span class='fa fa-eye'></span></button>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>




<div class="modal fade" id="modalReponse">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <h4 class="modal-title text-primary">DETAILS DES REPONSES</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fermer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>













<div class="modal fade" id="modalOffre">
    <div class="modal-dialog">
        <form method="post" id="offre_form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-primary">AJOUT D'UNE OFFRE</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" name="user_id" value="{$user->getId()}" d="user_id">
                    </div>
                    <div class="form-group">
                        <label class="">La categorie</label>
                        <select class="form-control" name="categorie_id" id="categorie_id">
                            <option value="">---Choisir le categorie---</option>
                            {foreach from=$categories item=categorie}
                            <option value="{$categorie->getId()}">{$categorie->getLibelle()}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="libelle">Intitullé de l'offre</label>
                        <textarea rows="4" cols="30" class="form-control" name="libelle"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="favori">Favori</label>
                        <select name="favori" id="favori" class="form-control">
                            <option value="">Selectionner</option>
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="id">
                    <input type="submit" name="action" id="action" class="btn btn-primary" value="Add">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>


{include file='src/view/layout/footer.html'}