{include file='src/view/layout/header.html'} {include file='src/view/layout/topbar.html'}{include file='src/view/layout/sidebar.html'}

<div class="content-wrapper">
    <div class="container">
        <section class="content">
            <div class="col-md-6">
                <!-- /.box -->
                <div class="box ">
                    <div class="box-header">
                        POSTULER A UNE OFFRE
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="text-center">
                            {if isset($message_success)} <span class="text-success">{$message_success}</span> {/if}
                        </div>
                        <div class="text-center">
                            {if isset($message_error)} <span class="text-danger">{$message_error}</span> {/if}
                        </div>
                        <form method="POST" action="{$url_base}Reponse/save" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="user_id" value="{$user->getId()}" id="user_id">
                            </div>
                            <div class="form-group">
                                <label class="">L'offre</label>
                                <select class="form-control" name="offre_id" id="offre_id">
                                    <option value="">---Choix de l'offre---</option>
                                    {foreach from=$offres item=offre}
                                    <option value="{$offre->getId()}">{$offre->getLibelle()}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="libelle">Contenu</label>
                                <textarea rows="4" cols="30" class="form-control" name="libelle"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="libelle">Description</label>
                                <textarea name="description" id="description" cols="30" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="action" class="btn btn-primary" value="Enrégistrer" />
                            </div>
                        </form>
                    </div>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </section>
    </div>
</div>
{include file='src/view/layout/footer.html'}